@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Widget {
    display: flex;
}

.album {
    margin-right: 10px;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    background-color: #3C2422;
    overflow: hidden;
    position: relative;
}

.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.info {
    max-height: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
    width: 250px;
    background-color: #3C2422;
    display: flex;
    align-items: center;
}

#info-wrapper {
    margin-left: 15px;
}

#info_title,
#info_artist {
    letter-spacing: 0.5px;
    font-family: 'Kanit', sans-serif;
    color: #F3A68C;
}

#info_title {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#info_artist {
    font-size: 15px;
    margin-top: 0px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player {
    margin-right: 10px;
    border-radius: 10px;
    height: 100px;
    width: 250px;
    background-color: #3C2422;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

#progress_container {
    position: relative;
    width: 100%;
    height: 10px;
}

.time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

#time-elapsed,
#time-total {
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #F3A68C;
}

#time-elapsed {
    text-align: left;
    margin-left: 10px;
}

#time-total {
    text-align: right;
    margin-right: 10px;
}

#progress_top,
#progress_bottom {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    height: 100%;
}

#progress_top {
    width: 50%;
    background-color: #EA5E0B;
    z-index: 1;
}

#progress_bottom {
    width: 100%;
    background-color: #67270C;
    z-index: 0;
}
