.album {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2C2C2C;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
  background-image: url(-);
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 2;
}




#album-placeholder {
  font-size: 150px;
  position: absolute;
  z-index: 1;
}

