.info {
  display: flex;
  align-items: last;
  justify-content: center;
  flex-direction: column;
  background-color: #2C2C2C;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
}


.info-title,
.info-artist {
  font-family: 'Open Sans', sans-serif;
  color: #BCBCBC;
  margin: 0px 0px 0px 50px;
  white-space: nowrap;
  overflow: hidden;
}

.info-title {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 15px;
}

.info-artist {
  font-size: 40px;
  font-weight: 600;
}

.scroll-animation-left {
  animation: scrollLeft 5s linear infinite;
}

.scroll-animation-right {
  animation: scrollRight linear infinite;
  animation-delay: 5s;
}
