p {
  font-size: 20px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #BCBCBC;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2C2C2C;
  height: 300px;
  border-radius: 40px;
}

.visualizer {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90px;
  height: 40px;
}

.v-center,
.v-left,
.v-right,
.v-left-most,
.v-right-most {

  width: 10px;
  background-color: #BCBCBC;
  border-radius: 20px;
  transition: height 0.15s;

}


.v-center {
  height: 20px;
}

.v-left,
.v-right {
  height: 20px;
}

.v-right-most,
.v-left-most {
  height: 20px;
}

.time-stamps {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.time-elapsed,
.time-duration {
  font-size: 40px;
}


.progress-bar {
  height: 20px;
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  position: relative;
}


.bar-top,
.bar-bottom {
  border-radius: 250px;
  background-color: #BCBCBC;
}

.bar-bottom {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.bar-top {
  position: absolute;
  width: 0%;
  height: 100%;
}

